body {
  background-image: url('zee1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: top;
  color: white
}

h1, h2 {
  text-align: center;
  color: white;
  margin: .5em 0;
}

form {
  /* position: fixed; */
  width: 33%;
  background: rgba(0, 0, 0, .3);
  display: inline-block;
  border-radius: .5em;
  margin-bottom: 0;
  margin-top: auto;
}

body div {
  margin: 1em
}

form label {
  display: inline-block;
  color: white;
}

form span {
  display: inline-block;
  color: white;
  float: right;
}

form input {
  display: inline-block;
  border-radius: .5em;
}

#displayName {
  float: right;
}

form textarea {
  display: block;
  width: 90%;
  margin: 1em auto;
  border-radius: .5em;
  float: right;
}

form #giftAmount {
  display: block;
  width: 80%;
  margin: 20px auto;
}

form button {
  float: right;
  /* border: 1px solid black; */
  border-radius: .5em;
  margin-bottom: 1.5em;
  margin-right: 1.5em;
}

@media (max-width: 350px) and (orientation: portrait) {
  form {
    width: 100%;
  }
}
